{% extends 'base.html'%}
<!--  -->

<!-- Input Field Blueprint
   <div class="field">
    <label class="label">Label Here</label>
    <div class="control">
      <input class="input" />
    </div>
  </div> 
  -->
{% block content %}
<div class="columns is-centered">
  <div class="column is-two-thirds">
    <form
      action="{{url_for('devices.addDevice_post')}}"
      method="post"
      class="box"
    >
      <div class="field">
        <label class="label">Device Name</label>
        <div class="control">
          <input class="input" type="text" name="device_name" />
        </div>
      </div>

      <div class="field">
        <label class="label">Device IP Address</label>
        <div class="control">
          <input class="input" type="text" name="device_ip" />
        </div>
      </div>

      <div class="field">
        <label class="label">Device Port</label>
        <div class="control">
          <input class="input" type="number" name="device_port" />
        </div>
      </div>

      <div class="field">
        <label class="label">Poll Type</label>
        <div class="control">
          <div class="select">
            <select name="poll_type">
              <option value="modbus" selected>Modbus</option>
              <option value="snmp">SNMP</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Device Power Limit (Watts)</label>
        <div class="control">
          <div class="select">
            <input type="number" class="input" name="power_limit" />
          </div>
        </div>
      </div>

      <div id="registers"></div>

      <button
        class="button is-warning"
        type="button"
        onclick="addRegisterForm()"
      >
        Add Register
      </button>
      <br />
      <br />
      <button class="button is-success" type="submit">Add Device</button>
    </form>
  </div>
</div>

<script type="text/javascript">
  let registerCount = 0;
  function addRegisterForm() {
    registerCount += 1;
    let registersDiv = document.getElementById("registers");
    registersDiv.insertAdjacentHTML(
      "beforeend",
      `
      <div class="field">
      <label class="label">Register</label>
      <div class="control">
        <input class="input" type="number" min="0" max="65535" name="register[][register]" />
      </div>
    </div>

    <div class="field">
      <label class="label">Register Sequential Read Count</label>
      <div class="control">
        <input class="input" type="number" min="1" name="register[][read_count]" />
      </div>
    </div>

    <div class="field">
      <label class="label">Slave ID</label>
      <div class="control">
        <input class="input" type="number" name="register[][slave]" />
      </div>
    </div>

    <div class="field">
      <label class="label">Metric Name</label>
      <div class="control">
        <input class="input" type="text" name="register[][metric_name]" />
      </div>
    </div>

    <div class="field">
      <label class="label">Metric Unit</label>
      <div class="control">
        <input class="input" type="text" name="register[][metric_unit]" />
      </div>
    </div>
      `
    );
  }
</script>
{%endblock%}
