{% extends 'base.html' %}
<!--  -->
{%block content%}
<table class="table is-bordered is-striped is-hoverable" id="deviceTable">
  <thead>
    <tr>
      {% for key in context.device_list[0] %}
      <td>{{key}}</td>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for item in context.device_list %}
    <tr>
      {% for column in item %}
      <td>{{item[column]}}</td>
      {% endfor %}
    </tr>
    {%endfor%}
  </tbody>
</table>

<a class="button is-info" href="{{url_for('devices.addDevice_get')}}"
  >Add Device</a
>

{%endblock%}
<!--  -->
{%block scripts%}
<script
  type="text/javascript"
  src="{{ url_for('devices.static', filename='js/table.js')}}"
></script>
{%endblock%}
